<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="description" content="Play Youtube video in everywhere.">
    <meta name="keywords" content="Playable">
    <meta name="author" content="ssmak">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
	<!-- Apple/Safari setting -->
	<link href="apple-touch-icon.png" rel="apple-touch-icon" />
	<meta name="apple-mobile-web-app-capable" content="yes"><!-- hiding Safari UI -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black"><!-- changing the status bar appearance -->
	<!-- Android/Chrome setting -->
	<link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.ico">
    <title>Playable(R)</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="node_modules/jquery-toast-plugin/dist/jquery.toast.min.css">
	<style>
	body {
		font-size:12pt;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	.container-fluid {
		padding: 0;
	}
	.playable-item div.thumbnail {
		overflow: hidden;
	}
	.clickable {
		cursor: pointer;
	}
	.fa-cloud-download {
		color: #f00;
		font-size: 1.8em;
		cursor: pointer;
	}
	#search-panel, #channel-panel {
		background-color: rgb(250, 250, 250);
		width: 100%;
		padding: 15px;
	}
	#search-bar span.fa-youtube-play, #channel-panel span.fa-youtube-play {
		font-size: 1.5em;
		color: red;
	}
	#search-panel span.fa-search, $channel-panel span.fa-plug {
		cursor: pointer;
	}
	#top-icon {
		position: fixed;
		right: 25px;
		bottom: 15%;
		background-color: rgb(250, 250, 250);
		width: 50px;
		height: 50px;
		text-align: center;
		font-size: 2em;
		border-radius: 25px;
		opacity: 0.8;
	}
	#watermark {
		position: fixed;
		right:5px;;
		bottom: 5px;
		color: rgb(100, 100, 100);
		font-size: 0.7em;
		background-color: rgb(250, 250, 250);
		padding: 2px;
		opacity: 0.5;
	}
	</style>
  </head>
  <body style="display:none">
	<div class="container-fluid" ng-controller="root">
		<div id="channel-panel" class="col-xs-12">
			<div id="channel-bar" class="input-group">
			  <span class="input-group-addon" id="basic-addon1"><span class="fa fa-youtube-play"></span></span>
			  <input id="channel" type="text" class="form-control" style="font-size:0.8em" placeholder="take a channel by letter, number or underscore." ng-keyup="keyup($event, 'join')">
			  <span class="input-group-addon" id="basic-addon1"><span class="fa fa-plug" ng-click="joinChannel()">&nbsp;Join</span></span>
			</div>
		</div>
		<div id="search-panel" class="col-xs-12" style="display:none">
			<div id="search-bar" class="input-group">
			  <span class="input-group-addon" id="basic-addon1"><span class="fa fa-youtube-play"></span></span>
			  <input name="search_keyword" type="text" class="form-control" placeholder="search something here.." ng-keyup="keyup($event, 'search')">
			  <span class="input-group-addon" id="basic-addon1"><span class="fa fa-search" ng-click="newSearch()"></span></span>
			</div>
		</div>
		<div class="row playable-item">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 row-eq-height" ng-repeat="p in playable">
				<div class="thumbnail" style="text-align:center">
					<img src="{{ p.thumbnails.high.url }}" class="img-responsive clickable" ng-click="playResource(p.id)" />
					<div class="caption" style="margin-top:5px">
						<h3 class="clickable" ng-click="playResource(p.id)">{{ p.title }}</h3>
						<p>
							{{ p.description }}
						</p>
						<!--
						<p style="text-align:right">
							<span class="fa fa-cloud-download" ng-click="downloadResource(p.id, p.title)"></span>
						</p>
						-->
						<p style="font-size:0.7em; text-align:right">
							{{ p.publishedAt }}
						</p>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="is_loading" style="width:100%; text-align:center">
			<img class="img-responsive" src="loading.gif"/>
		</div>
		<div id="top-icon" class="clickable" ng-click="bring2Top()"><span class="fa fa-level-up"></span></div>
		<div id="watermark"></div>
	</div>
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="./resource-loader.bundle.min.js"></script>
	<script>
		//app running mode
		var DEBUG = true;

		if(!DEBUG) {
			console.log = function () {};
			console.error = function () {};
		}
	</script>
	<script>
		const app = angular.module('app', []);
		app.controller("root", function ($scope, $window) {
			/*
			toast box
			*/
			$scope.alert = function (params) {
				if(!params) {
					return;
				}

				if(!('type' in params)) {
					params.type = 'info';
				}

				$.toast({
					heading: params.title,
					text: params.message,
					showHideTransition: 'fade',
					icon: params.type,
					hideAfter: params.timeout,
					position: 'bottom-right',
					bgColor: params.color,
					stack: 5
				});
			}

			/*
			join to channel by name
			*/
			$scope.join = function (channel) {
				//connect to server websocket with specified namespace and room
				$scope.socket = io('/', {
					query: 'room=' + channel
				});

				//received message handling
				$scope.socket.on('system', function (msg) {
					console.log('receive system message');
					console.log(msg);

					if(msg.type === 'download_completed') {
						$scope.alert({
							title: 'Completed!',
							message: msg.filename,
							//color: '#b37700',
							type: 'success',
							timeout: 4000
						});
					}
					if(msg.type === 'channel_joined') {
						$scope.alert({
							title: 'Channel joined!',
							message: 'You join a channel `' + channel + '`',
							//color: '#b37700',
							type: 'success',
							timeout: 4000
						});
					}
				});

				/*
				//request server to download the vidoe from Youtube
				$scope.download = function (resource_id, resource_title) {
					console.log("remote: download resource: ", resource_id, ', title: ', resource_title);

					$scope.socket.emit('download', {
						resource_id: resource_id,
						resource_title: resource_title
					});
				}
				*/
			}

			/*
			search video from Youtube by keywords
			*/
			$scope.search = function (keyword, limit, page_token) {
				searchFromYoutube(keyword, limit, page_token)
				.then(function (result) {
					console.dir(result.results);
					console.dir(result.page_info);

					//store the next page token
					if(result.page_info.nextPageToken && /^[a-z0-9]+$/i.test(result.page_info.nextPageToken)) {
						$scope.next_page_token = result.page_info.nextPageToken;
					} else {
						$scope.next_page_token = null;
					}
					for(let playable_item of result.results) {
						$scope.playable.push(playable_item);
					}
					$scope.$apply();
					$scope.is_loading = false;
				})
				.catch(function (err) {
					console.error(err);

					$scope.is_loading = false;
				});
			};

			/*
			send (play video) request to server then player
			*/
			$scope.play = function (resource_id) {
				console.log("remote: play resource: ", resource_id);

				$scope.socket.emit('play', {
					resource_id: resource_id
				});
			};

			/*
			infinite loading
			*/
			$scope.loadMore = function () {
				if(!$scope.is_loading) {
					console.log('load more, next page token: ', $scope.next_page_token);

					$scope.is_loading = true;
					$scope.search($scope.keyword, $scope.limit, $scope.next_page_token);
				}
			}

			/*
			keyboard (enter) listener
			*/
			$scope.keyup = function ($event, source) {
				console.log('key up: ', $event);

				if($event.keyCode === 13) { //enter
					if(source == 'search') {
						$scope.newSearch();
					}

					if(source == 'join') {
						$scope.joinChannel();
					}
				}
			}

			/*
			join channel (link up function)
			*/
			$scope.joinChannel = function () {
				let channel = $('#channel').val();
				if(/^[a-z0-9_]+$/i.test(channel)) {
					$scope.join(channel);
					$('#channel-panel').css('display', 'none');
					$('#search-panel').css('display', 'block');
				} else {
					if(channel && channel.length > 0) {
						$scope.alert({
							title: 'Wrong channel name!',
							message: 'Name of channel should be taken by letter, number or underscore.',
							//color: '#b37700',
							type: 'error',
							timeout: 10000
						});
					} else {
						//
						$scope.alert({
							title: 'Take your channel name!',
							message: 'Type some keyword as an identity to form a channel. Yeah! Trust me. This channel is just for you.',
							//color: '#b37700',
							type: 'info',
							timeout: 10000
						});
					}
				}
			}

			/*
			search video from Youtube (link up function)
			*/
			$scope.newSearch = function () {
				let keyword = $('input[name=search_keyword]').val();
				$scope.keyword = keyword;
				$scope.playable = [];
				$scope.search(keyword, $scope.limit, null);
			}

			/*
			player vidoe (link up function)
			*/
			$scope.playResource = function (resource_id) {
				$scope.play(resource_id);
			}

			/*
			$scope.downloadResource = function (resource_id, resource_title) {
				$scope.alert({
					title: 'Downloading..',
					message: resource_title,
					//color: '#b37700',
					type: 'warning',
					timeout: 4000
				});

				$scope.download(resource_id, resource_title);
			}
			*/

			/*
			scroll to top (window scrolling)
			*/
			$scope.bring2Top = function () {
				$window.scrollTo(0, 0);
			}

			/*
			register event
			*/
			//listen page event
			$(window).scroll(function () {
				if(($(window).scrollTop() + $(window).height()) > ($(document).height() - 100)) {
					loadMore();
				}
			});

			//initial variables
			$scope.socket = null;
			$window.loadMore = $scope.loadMore;
			$scope.limit = 50;
			$scope.is_loading = false;
			$scope.playable = [];
			$scope.next_page_token = null;
			$scope.keyword = "";

			//default
			$scope.is_loading = true;
			$scope.search('五月天', $scope.limit, $scope.next_page_token); //default searching keyword '五月天 Mayday' <-- Yeah! :P
		});

		angular.element(function () {
			//angular app is loaded and ready to go
			/*
			retrieve the app version and relocate the app logo
			*/
			$.get('package.json', function (content) {
				$('input[name=search_keyword]').attr('placeholder', 'search some keyword(s)');
				$('#watermark').html($('title').html() + ' (v' + content.version + ')');
			});

			//make the page visible
			$('body').css('display', 'block');
		});
	</script>
  </body>
</html>
